html, body {
    height: 100%;
}

.gallery {
    background-image: url("/src/images/brickwall2.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.gallery .image-clicked {
    left: -100px;
    width: 360px;
    height: 480px;
}

.gallery .expanded-image-hidden {
    display: none;
}

.gallery .expanded-image-show {
    display: block;
}
.image-container {
    padding-top: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image-container .row {
    display: flex;
    flex-direction: row;
}

.image-entity {
    margin-left: 2vw;
    margin-right: 2vw;
}

.image-container-image {
    position: relative;
    left: 0;
    height: 240px;
    width: 180px;
    border: black solid 20px;
    border-radius: 5px;
    display: block;
    box-shadow: 0 14px 28px black;
    transition: all 500ms;
}

.image-details {
    margin-top: 20px;
    visibility: hidden;
    height: 18px;
    max-width: 220px;
}
